.articles-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    height: 100%;
}

.articles {
    max-width: 1250px;
    width: 100%;
    margin: 0px 50px 40px 50px;
    display: flex;
    grid-gap: 20px;
    height: 100%;
}

#image-1 {
    height: 650px;
}

#image-2 {
    height: 550px;
}

#image-3 {
    height: 450px;
}

.image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAATCAMAAAB4HKeYAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAADRJREFUeAFjwAsYsfMYQYgRLsLICKWhskxMTDAmCEMAwhQmEEDho8szUiqPaR+xfIR7sQMAR6QAjICqvMYAAAAASUVORK5CYII=),auto;
}

.articles .article .headline h3:hover {
    cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAATCAMAAAB4HKeYAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAADRJREFUeAFjwAsYsfMYQYgRLsLICKWhskxMTDAmCEMAwhQmEEDho8szUiqPaR+xfIR7sQMAR6QAjICqvMYAAAAASUVORK5CYII=),auto;
    text-decoration: underline;
}


.headline h3 {
    font-size: 25px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 800px) {
    #image-1 {
        height: 550px;
    }
    #image-2 {
        height: 450px;
    }
    #image-3 {
        height: 350px;
    }
}

@media only screen and (max-width: 700px) {
    .articles {
        flex-wrap: wrap;
    }
    #image-1 {
        height: 300px;
        width: 100%;
    }
    #image-2 {
        height: 300px;
        width: 100%;
    }
    #image-3 {
        height: 300px;
        width: 100%;
    }
}