.mepage-container {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    transition: 1s;
}

.mepage {
    max-width: 1250px;
    width: 100%;
    margin: 0px 50px;
    display: flex;

}

.sidebar {
    width: 30%;
    border: solid 1px black;
    padding: 30px;
}

.lists {
    width: 70%;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    padding: 30px;
}

@media only screen and (max-width: 644px) {
    #mepage-container {
      background-color: lightblue;
    }
  }