.header-container {
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    max-width: 1250px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 30px 50px;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 50px;
    font-family: 'Rakkas', cursive;
}

.navlinks a {
    margin-left: 20px;
}

.btn {
    padding: 10px;
    border-radius: 10px;
}

.btn:hover {
    opacity: 0.9;
    transition: 0.5s;
}

.login {
    background-color: #262626;
    color: #F4F2F2;
}

.signup, .logout {
    background-color: #EDEDED;
}

@media only screen and (max-width: 600px) {
    .navlinks {
        display: none;
    }
}
