.header-container {
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    max-width: 1250px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 30px 50px;
}

a {
    text-decoration: none;
    color: #3C3C3C;

}

.logo {
    font-size: 30px;
    margin-left: 10px;
}

.navlinks a {
    margin: 0px 10px;
}

.btn {
    padding: 10px;
    border-radius: 10px;
}

.btn:hover {
    opacity: 0.9;
    transition: 0.5s;
}

.login {
    background-color: #1F72AD;
    color: #F4F2F2;
}

.signup, .logout {
    background-color: #EDEDED;
}

