.ig-feed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 -3px 0;
}

.instagram-feed {
    display: flex;
}
.instagram-feed a > img {
    width: 100%;
    height: auto;
}
.instagram-feed a > img:hover {
    transition: 0.5s;
    opacity: 0.8;
}