.banner-container {
    height: 50px;	
    overflow: hidden;
    position: relative;
    border-bottom: solid 1px black;
   }
.banner-container p {
font-size: 15px;
color: black;
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
/* Starting position */
-moz-transform:translateX(100%);
-webkit-transform:translateX(100%);	
transform:translateX(100%);
/* Apply animation to this element */	
-moz-animation: banner-container 30s linear infinite;
-webkit-animation: banner-container 30s linear infinite;
animation: banner-container 30s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes banner-container {
0%   { -moz-transform: translateX(100%); }
100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes banner-container {
0%   { -webkit-transform: translateX(100%); }
100% { -webkit-transform: translateX(-100%); }
}
@keyframes banner-container {
0%   { 
-moz-transform: translateX(100%); /* Firefox bug fix */
-webkit-transform: translateX(100%); /* Firefox bug fix */
transform: translateX(100%); 		
}
100% { 
-moz-transform: translateX(-100%); /* Firefox bug fix */
-webkit-transform: translateX(-100%); /* Firefox bug fix */
transform: translateX(-100%); 
}
}